

button{
    width: 30px;
    height: 30px;


}
button:hover{
    background-color: yellow;
    color: yellow;
}
.progress {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.imagen{
    max-width: 100px;
    display: flex;
}#tituloedit{
    margin-left: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2{
   
    font-size: 0.9cm;


    color:white;

}
