

button{
    width: 30px;
    height: 30px;
  

}
button:hover{
    background-color: yellow;
    color: yellow;
}
.progress {
    
    max-width: 800px;
    margin-left: 30px;
    margin-left: 30px;

}

.imagen{
    max-width: 100px;
    display: flex;
}#tituloedit{
    margin-left: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2{
   
    font-size: 0.9cm;


    color:white;

}
