<div class="vh-100 gradient-custom">

    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
            <label for="nombre">nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proLab.nombre" required>
        </div>
        <div class="form-group">
            <label for="descripcion">descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion"
                [(ngModel)]="proLab.descripcion">
        </div>
        <div class="form-group">
            <label for="tecnologias">tecnologias</label>
            <input type="text" class="form-control" id="tecnologias" name="tecnologias"
                [(ngModel)]="proLab.tecnologias">
        </div>
        <div class="form-group">
            <label for="urlimagen">fecha fin</label>
            <input type="text" class="form-control" id="urlimagen" name="urlimagen" [(ngModel)]="proLab.urlimagen">
        </div>
        <button class="btn btn-primary">
            Agregar Proyecto
        </button>
    </form>

</div>