button:hover{
    background-color: yellow;
    color: yellow;
}
.as{
    border:5px solid rgb(12, 11, 20);
    border-radius:22px;
    margin: 5px;
    padding: 5px;
    max-width: 250px;
    max-height: 400px;
    text-align: center;
    contain:paint;
    margin-left: 110px;
}

h2{
   
    font-size: 0.9cm;


    color:white;

}
h3{
    font-size: 0.7cm;
}
p{
    font-size: 0.5cm;
    color: white;
}