<div class="alert alert-danger" role="alert">
    <div class="container">
        <div class="row d-flex justify-content-evenly">
            <div class="col-auto">
                <a href='#acercade' id='Proyectos'>
                    <i class="bi bi-arrow-up-left-square-fill"></i>
                </a>
            </div>
            <div class="col-auto">
                <h2>Proyectos</h2>
            </div>
            <div class="col-auto">
                <button (click)="open(content)" *ngIf="isLogged"><i class="bi bi-plus-square"></i><ng-template #content
                        let-modal>
                        <app-new-proyectos></app-new-proyectos>
                    </ng-template></button>
            </div>

            <!-- experienciass-->


            <div class="row d-flex justify-content-evenly" *ngFor="let pro of proyectos">
                <p>--------------------------------</p>


                <div class="col-auto">
                    <img [src]='pro.urlimagen' alt="imagen" width="70%" heigh="70%">
                </div>
                <div class="col-auto">
                    <h4>{{pro.nombre}}</h4>
                    <p>{{pro.tecnologias}}</p>
                    <p>{{pro.descripcion}}</p>
                </div>

                <div class="col-auto">
                    

                    <button (click)="open(content, pro.id)" *ngIf="isLogged"><i
                            class="bi bi-pencil-square"></i><ng-template #content let-modal>
                            <app-editarproyectos [idess]="pro.id"></app-editarproyectos>
                        </ng-template></button>
                    <button (click)="delete(pro.id)" *ngIf="isLogged"><i class="bi bi-trash3"></i></button>

                </div>

            </div>
        </div>
    </div>
</div>