
button{
    width: 30px;
    height: 30px;


}button:hover{
    background-color: yellow;
    color: yellow;
}

h2{
   
    font-size: 0.9cm;


    color:white;

}
h3{
    font-size: 0.6cm;
    color: white;
}
p{
    font-size: 0.5cm;
    
}
