.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(54, 15, 15));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgb(54, 15, 15));

  max-height: 380px;
  border-radius: 15px;
  border: #6a11cb solid 2px;
  }
  input{
    width: 80%;
    height: 10%;
  }
  .a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button:hover{
    background-color: yellow;
    color: yellow;
}
h2{
  color: rgb(195, 203, 196);
}
p{
  color: darkorange;
}
label{
  color: aliceblue;
}
