
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-auto" >
          <div  class="card" style="border-radius: 1rem;">
          
           
            <a href="#acercade" id="Perfil">
              <i class="bi bi-arrow-up-left-square-fill"></i>
          </a>
                    <h1>404 <i class="bi bi-emoji-frown"></i>
                    </h1>
                    <p>Page not found </p>
  
          </div>
        </div>
      </div>
    </div>
  </section>