.fotoperfil{
    width:200px;
    height:200px;
    border-radius:150px;
    border-color: #000000;
    border-width: 3px;
    border-style: solid;
}
p{
    line-height: 0.9;
    font-size: 0.5;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}

a{
    color: #466ce7;
}
.edicion{
    width: 30px;
    height: 30px;
}
button:hover{
    background-color: yellow;
    color: yellow;
}
h2{
font-size: 1.5cm;
color: white;

}