<br><div class="gradient-custom">
    <div class="container">
        <div class="row">
            <div class="col-auto">
             
                <button>
                    <a  href="#acercade" id="Perfil">
                     <i class="bi bi-arrow-left-square"></i>
                 </a> 
                 </button>
            </div>
            <div class="col">
                <h1 class="font-effect-shadow-multiple">Acerca de mi:</h1>
            </div>
            <div class="col-auto" *ngIf="!isLogged">

            </div>
            <div class="col-auto">
                <button (click)="open(content)" *ngIf="isLogged"><i class="bi bi-plus-square"></i><ng-template #content
                        let-modal>
                        <app-new-fotoperfil></app-new-fotoperfil>
                    </ng-template></button>
            </div>
        </div>
        <!-- perfil-->
        <div class="row d-flex justify-content-evenly" *ngFor="let per of persona">
            <p>-------------------------------------------------------------------------------</p>
            <div class="row d-flex justify-content-evenly">
                <div class="col-auto" style="min-width: 400px;">
                    <img [src]='per.urlfoto' alt="" class="fotoperfil">
                </div>
                <div class="col">
                    <h2>{{per.nombre}}{{per.apellido}}</h2><br>
                    <h3>{{per.sobremi}}</h3>
                    
                        <a download="" class="hola" href="../../../assets/imagen/Darío Castillo. Curriculum Vitae.pdf" >DESCARGA MI CV</a>
                    <br><br>
                </div>
                <div class="col-auto">
                    <button (click)="open(content, per.id)" *ngIf="isLogged"><i
                            class="bi bi-pencil-square"></i><ng-template #content let-modal>
                            <app-editarfotoperfil [ide]="per.id"></app-editarfotoperfil>
                        </ng-template></button>
                        <button (click)='delete(per.id)' *ngIf="isLogged"><i class="bi bi-trash3"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
