<div class="gradient-custom hola">


  <nav id='menu'>

  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='#Experiencia' id='acercade'>Experiencia</a></li>
    <li><a  href='#Educacion' id='acercade'>Educación</a>

    </li>
    <li><a href='#Habilidades' id='acercade'>Habilidades</a></li>
    <li><a  href='#Proyectos' id='acercade'>Proyectos</a>
      
    </li>
    <li><a href='#Contacto'id='acercade'>Contacto</a></li>


    <li>
      <a href="https://github.com/dariocastillo11" class="fa-face">
        <button type="button" class="btn btn-light">
          <i class="bi bi-github"></i></button>
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/dar%C3%ADo-castillo-b43387236/" class="fa-linkedin">
        <button type="button" class="btn btn-light">
          <i class="bi bi-linkedin"></i></button>
      </a>
    </li>
    <li>
      <a href="https://wa.me/543517665098" class="fa-linkedin">
        <button type="button" class="btn btn-light">
          <i class="bi bi-whatsapp"></i></button>
      </a>
    </li>




    <li>
      <button (click)="open(content)" *ngIf="!isLogged"><i class="bi bi-person-fill-slash">ingresar</i><ng-template
          #content let-modal>
          <app-login></app-login>
        </ng-template></button>
      <button (click)="onLogOut()" *ngIf="isLogged"><i class="bi bi-person-circle">cerrar</i><ng-template #content
          let-modal>
          <app-login></app-login>
        </ng-template></button>

    </li>






  </ul>




</nav>
</div>
