button:hover{
    background-color: yellow;
    color: yellow;
}
#tituloedit{
    margin-left: 5%;
}
#margenimagenes{
    margin-top: 5%;
    margin-left: 5%;
    width:250px;
    height: 200px;
}
h2{
   
    font-size: 0.9cm;


    color:white;

}
h3{
    font-size: 0.7cm;
}
p{
    font-size: 0.5cm;
    
}
