

.container-boton{
    margin: 1px;
    width: 40px;
    height: 40px;
    background-color: rgb(252, 116, 38);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-boton:hover{
    cursor: pointer;
    background-color:yellow;
    box-shadow: 2px 3px 15px 0 #000;
}





#submit{
    width: 50%;
    border: none;
    background-color: rgb(252, 116, 38);
    height: 50px;
    box-shadow: 2px 3px 15px 0 #000;
    cursor: pointer;
}
#submit:hover{
    background-color: yellow;
}.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(54, 15, 15));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgb(54, 15, 15));
  
    width: 100%;
    height: 100%;
    }button:hover{
      background-color: yellow;
      color: yellow;
  }