
                    <div class="vh-100 gradient-custom">

                        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                            <div class="form-group">
                                <label for="nombreempresa">Nombre de la empresa</label>
                                <input type="text" class="form-control" id="nombreempresa" name="nombreempresa"
                                    [(ngModel)]="nombreempresa" required>
                            </div>
                            <div class="form-group">
                                <label for="esTrabajoactual">Es trabajo actual?</label>
                                <input type="text" class="form-control" id="esTrabajoactual" name="esTrabajoactual"
                                    [(ngModel)]="esTrabajoactual" required>
                            </div>
                            <div class="form-group">
                                <label for="fechainicio">Fecha inicio</label>
                                <input type="text" class="form-control" id="fechainicio" name="fechafin"
                                    [(ngModel)]="fechainicio" required>
                            </div>
                            <div class="form-group">
                                <label for="fechafin">fecha fin</label>
                                <input type="text" class="form-control" id="fechafin" name="fechafin"
                                    [(ngModel)]="fechafin" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcion">descripcion</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion"
                                    [(ngModel)]="descripcion" required>
                            </div>
                            <div class="form-group">
                                <label for="urlempresa">url empresa</label>
                                <input type="text" class="form-control" id="urlempresa" name="urlempresa"
                                    [(ngModel)]="urlempresa" required>
                            </div>
                            <div class="form-group">
                                <label for="urlimagenempresa">url imagen empresa </label>
                                <input type="text" class="form-control" id="urlimagenempresa" name="urlimagenempresa"
                                    [(ngModel)]="urlimagenempresa" required>
                            </div>
                            <button class="btn btn-primary">
                                Agregar experiencia

                            </button>
                        </form>


                    </div>
    