<br>
<div class="gradient-custom">
    <div class="container">

        <div class="row">
            <div class="col-auto">
                <button>
                    <a href='#acercade' id='Contacto'>
                        <i class="bi bi-arrow-left-square"></i>
                    </a>
                </button>
            </div>
            <div class="col">
                <h1 class="font-effect-shadow-multiple">Contacto</h1>
            </div>
            <div class="col-auto"></div>
        </div>
        <div class="row">

            <div class="col-auto ">
                <iframe class="a"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1583.077786552077!2d-64.09116476837929!3d-31.46324242964318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1677265676418!5m2!1ses!2sar"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-auto">
                <table>
                    <tr>
                        <th scope="col-auto">Nombre</th>
                        <th scope="col-auto">Apellido</th>
                    </tr>
                    <tr>
                        <td>
                            <h3>Darío</h3>
                        </td>
                        <td>
                            <h3>Castillo</h3>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col-auto">Email</th>
                        <th scope="col-auto">Telefono</th>
                    </tr>
                    <tr>
                        <td>
                            <h3>dario.4979102@gmail.com</h3>
                        </td>
                        <td>
                            <h3>3517665098</h3>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col-auto">Edad</th>
                        <th scope="col-auto">Fecha nacimiento</th>
                    </tr>
                    <tr>
                        <td>
                            <h3>24</h3>
                        </td>
                        <td>
                            <h3>30-12-1998</h3>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-auto">
                <table>

                    <tr>
                        <th scope="col-auto">Dirección</th>
                        <th scope="col-auto">Codigo Postal</th>
                    </tr>
                    <tr>
                        <td>
                            <h3>Julio Mendez 5321</h3>
                        </td>
                        <td>
                            <h3>5020</h3>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col-auto">Provincia</th>
                    </tr>
                    <tr>
                        <td>
                            <h3>Córdoba, Capital, Argentina</h3>
                        </td>
                        <th><a href="https://www.linkedin.com/in/dar%C3%ADo-castillo-b43387236/">
                                <h3>linkedin</h3>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th><a class="ab" href="https://github.com/dariocastillo11">
                                <h3>Github</h3>
                            </a></th>
                        <th><a
                                href="https://api.whatsapp.com/send/?phone=543517665098&text&type=phone_number&app_absent=0">
                                <h3>Whatsapp</h3>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>