<table border="1">
        <tr>
            <td>Nombre</td>
            <td>Darío</td>
        </tr>
        <tr>
            <td>Apellido</td>
            <td>Castillo</td>
        </tr>
        <tr>
            <td>Edad</td>
            <td>24</td>
        </tr>
        <tr>
            <td>Correo</td>
            <td>dario.4979102@gmail.com</td>
        </tr>
        <tr>
            <td>Celular</td>
            <td>3517665098</td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td>Julio Mendez 5321 B° Almirante Brown</td>
        </tr>
        <tr>
            <td>Codigo Postal</td>
            <td>30/12/1998</td>
        </tr>
        <tr>
            <td>Provincia</td>
            <td>Córdoba, Capital, Argentina</td>
        </tr>
        <tr>
            <td>Fecha de Nacimiento</td>
            <td>30/12/1998</td>
        </tr>
        <tr>
            <td>Estado civil</td>
            <td>Soltero</td>
        </tr>
        <tr>
            <td>Documento de identidad</td>
            <td>41712130</td>
        </tr>
        <tr>
            <td>licencia de conducir</td>
            <td>vigente hasta 2023</td>
        </tr>

    </table>
    
    <button type="button" class="btn btn-primary">
        <a class="nav-link" routerLink="/index">
            <img src="../assets/imagen/flecha.png" 
            alt="flecha"
            width="10%"
            heigh="10%">
            hola
        </a>

    </button>
    
