<div class="vh-100 gradient-custom">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group a">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="perLab.nombre" required>
        </div>
        <div class="form-group a">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="perLab.apellido">
        </div>
        <div class="form-group a">
            <label for="domicilio">Domicilio</label>
            <input type="text" class="form-control" id="domicilio" name="domicilio" [(ngModel)]="perLab.domicilio">
        </div>
        <div class="form-group a">
            <label for="fechanacimiento">Fecha de nacimiento</label>
            <input type="text" class="form-control" id="fechanacimiento" name="fechanacimiento"
                [(ngModel)]="perLab.fechanacimiento">
        </div>
        <div class="form-group a">
            <label for="sobremi">Sobremi</label>
            <input type="text" class="form-control" id="sobremi" name="sobremi" [(ngModel)]="perLab.sobremi">
        </div>
        <div class="form-group a">
            <label for="urlfoto">Url foto</label>
            <input type="text" class="form-control" id="urlfoto" name="urlfoto" [(ngModel)]="perLab.urlfoto">
        </div>
        <button class="btn btn-primary">
            Guardar cambios
        </button>
    </form>
</div>